/* STYLE GENERIQUE / STRUCTURE / VARIABLE / IMPORT */

html {
    min-height: 100vh;
}
body,html {
    height: 100%;
    margin:0;
    position: relative;
    font-family: var(--crete);
    font-size: 16px;
}
#page {
    width: 100%;
    min-height:100vh;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Pour utiliser ces variables, faire :
--> "color: var(--c1)" */

:root {
    --c1: #007266;
    --c2: #f7d075;
    --c3: #C4E0D8;
    --c4: #304A48;
    --c5: #838383;
    --c6: #F4F4F4;
    --crete: 'Crete Round', serif;
    --roboto: 'Roboto', sans-serif;
}
h1 {
    font-size: 1.48rem;
    color:var(--c1);
    font-family: var(--roboto);
}
h2 {
    font-size: 1.125rem;
    color:var(--c1);
    font-family: var(--roboto);
}
h3 {
    font-size: 1.125rem;
    color:var(--c5);
    font-family: var(--roboto);
}


/* STYLE DU HEADER */
#header {
    background-color: var(--c3);
    position: relative;
    height: 70px;
}
#header nav,.navList {
    height: 100%;
}
.navList {
    margin: 0;
    padding-left: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.navList img {
    width: 100%;
    height: 100%;
    max-height: 60px;
}
.navLogo {
    width: 40%;
    display: flex;
    align-items: center;
}
.navLogo img {
    max-width: 150px;
}
.navLogo li a {
    height: 100%;
    display: flex;
    align-items: center;
}
.navList .navLink {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
.navLink li {
    width: 50%;
    max-width: 70px;
}
.navLink .panier {
    background-color: var(--c1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.navLink .burger {
    background-color: var(--c2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.navLink .panier img,
.navLink .burger img {
    width: 30px;
    height: 30px;
}
/* STYLE DU MAIN CONTENT */
#mainContent {
    flex-grow: 1;
    max-width: 100%;
    margin:80px 15px;
    font-family: var(--roboto);
    position: relative;
}

/* style des items */
.items {
    background-color: var(--c6);
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    top: 0;
}
.items::after{
    content: "";
    width: 100%;
    height: 100px;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0px, 100%);
    background-color: var(--c6); 
}
.titrePanier {
    background-color:var(--c4);
    width: 80%;
    /* margin: auto; */
    position: absolute;
    top: -30px;
    left: 10%;
}
.titrePanier h1 {
    color:#fff;
    text-align: center;
    padding:10px;
    margin-top: 0;
    margin-bottom: 0;
}
.itemInPanier {
    background-color:lightblue;
    margin: 0 15px;
    height: 100px;
    margin-bottom: 15px;
    display: flex;
}
.imgItem {
    background-color: #fff;
    height: 100px;
    width: 100px;
}
.imgItem img {
    height: 100%;
    object-fit: contain;
    width: 90px;
}
.itemAction {
    width:80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemAction img{
    width: 20px;
}

/* style description item dans le panier */

.itemInfo {
    font-size: 0.9rem;
    width: 70%;
    padding:0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.itemInfo p {
    margin-bottom: 0;
    margin-top: 0;
}
.itemInfo .titre {
    color:var(--c4);
    font-size: 1.3rem;
    font-weight: 600;
}
.itemInfo .sousTitre {
    color:var(--c5);
    font-size: 1.1rem;
}
.itemInfo .description {
    color:var(--c5);
    font-size: 0.9rem;
    display: none;
}
.itemInfo .prix {
    color:var(--c5);
}

.uCouldLike {
    background-color: var(--c3);
    position: relative;
    margin-top: 115px;
    padding:50px 0;
}
.uCouldLike::before{
    content: "";
    width: 100%;
    height: 100px;
    clip-path: polygon(100% 100%, 0 100%, 100% 0);
    position: absolute;
    left: 0;
    transform: translate(0px, -150%);
    background-color: var(--c3); 
}
.uCouldLike h2 {
    position: absolute;
    right: 15px;
    text-align: right;
    top: -70px;
    font-weight: 300;
    line-height: 1;
}
.uCouldLike h2 span {
    font-weight: 700;
}
.itemCouldLike {
    width: 90%;
    height: 150px;
    margin:auto;
    background-color: lightgoldenrodyellow;
}

.btnPanier {
    display: flex;
}
.btnPanier .contact p {
    margin: 0;
}

    /* margin-top: 115px; */
/* STYLE DU FOOTER */
#footer {
    background-color:lightgoldenrodyellow;
    text-align: center;
}